[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[scripts]
dev = "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
prod = "uvicorn app.main:app --host 0.0.0.0 --port 8000"

[packages]
"fastapi[all]" = "*"
pytz = "*"
PyYAML = "*"
aiohttp = "*"
aioredis = "*"

[requires]
python_version = "3.8.1"

[pipenv]
allow_prereleases = true
